<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Quori</title>
</head>
<body>
    {% apply inline_css(source('@email_css/email.css')) %}
        <h1>Bonjour {{ fullname }}</h1>
        <p>Vous avez fait une demande de reinitialisation de mot de passe.</p>
        <p>Si vous n'estes pas a l'origine de cette demande, veuillez igorer cet email.</p>
        <p>Pour finaliser votre denabde veuillez cliquer sur le lien suivant</p>

        <a href="{{url('reset-password', {token: token}) }}">Changer le mot de passe</a>
    {% endapply %}
</body>
</html>