.question-content {
    border-bottom: 1px solid var(--gray);
}

.question-author {
    @include xs {
        h3 {
            mardin-bottom: 1rem;

        }

        .question-tag {
            margin-bottom: 1rem;
        }
    }
}