header {
    box-shadow: var(--box-shadow);

    .header-logo {
        max-width: 150px;
    }
    
    .header-logo img {
        max-width: 150px;
    }
    
    .header-search {
        max-width: 400px;
        border-radius: var(--border-radius);
        background-color: var(--gray-light);
        font-size: 16px;
        height: 30px;
        position: relative;
    
        @include xs {
            display: none;
        }

        &-loading {
            height: 30px
        }

        &-result {
            width: 100%;
            position: absolute;
            top: calc(100% + 10px);
            left: 0;
            background-color: red;
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            padding: 10px;

            a {
                padding: 10px;
            }
        }
    }
    
    .header-search input {
        border: none;
        outline: none;
        background-color: var(--gray-light);
    }

    .burger {
        font-size: 24px;
        margin-right: 10px;
    }

}

.menu-xs {
    a {
        margin: 10px 15px;
    }

    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
}
