.sidebar {
    min-width: 200px;

    @include xs {
        justify-content: center;
        width: 100%;
        padding: 20px 0px;
    }

    a {
        display: block;
        padding: 10px;
        cursor: pointer;
        font-size: var(--font-size-small);
        transition: opacity .4s;

        &:hover {
            opacity: .8;
        }

        i {
            color: var(--color-dark);
        }

        .fa-question {
            color: white;
        }
    }
}

.active {
    font-weight: bold;
    color: var(--primary);
}